name: Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm types:gen
      - run: pnpm types:check
      - run: pnpm lint:check
      - run: pnpm format:check
      - run: pnpm test:browser:install
      - run: pnpm build
      - run: pnpm test:browser:ci
